
<div formGroupName="myLogin">

    <h1>Inicio de sesión</h1>

  <label>
      <input type="text" placeholder="Correo Electrónico" formControlName="correo">
    </label>

  <label>      
    <input type="password" placeholder="Contraseña" formControlName="contrasena">
  </label>
  
 
  <button type="submit">Login</button>

  <!-- <button mat-raised-button color="accent" routerLink="/usuarios">Atrás</button>&nbsp;
  <button type="submit" (click)="loginIssue(correo.value, contrasena.value)" [disabled]="loginForm.pristine || loginForm.invalid" mat-raised-button color="primary">Iniciar Sesión</button> -->
    
</div>
